---
import { Image } from "astro:assets"
import Layout from "../../layouts/base.astro"
import { getCollection, getEntry } from "astro:content"

export async function getStaticPaths() {
  const recipes = await getCollection("recipes")
  return recipes.map((recipe) => ({ params: { slug: recipe.id } }))
}

const { data } = await getEntry("recipes", Astro.params.slug)
---

<Layout>
  <header class="mx-auto -mt-20 max-w-7xl">
    <div
      class="relative flex min-h-[440px] flex-col justify-end px-8"
      style={{ backgroundColor: `#${data.accent}` }}
    >
      <h1
        class="w-1/2 translate-y-10 pt-36 text-8xl font-black uppercase tracking-wide"
      >
        {data.title}
      </h1>
      <Image
        class="absolute -bottom-20 -right-8 w-1/2"
        src={data.image}
        alt={data.title}
      />
    </div>
  </header>
  <div class="mx-auto mt-28 max-w-7xl px-8">
    <p class="text-3xl text-slate-600">{data.intro}</p>
    <div class="grid gap-24 py-24 md:grid-cols-3">
      <div>
        <h2 class="text-3xl">Ingredients</h2>
        <div class="mt-8 bg-zinc-100 px-8 py-4">
          <table>
            <tbody>
              {
                data.ingredients.map((ingredient) => (
                  <tr>
                    <td class="whitespace-nowrap p-2 text-right font-semibold">
                      {ingredient.quantity}
                    </td>
                    <td class="p-2 pl-4" set:html={ingredient.ingredient} />
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-span-2">
        <h2 class="text-3xl">Method</h2>
        <ul class="mt-12 grid gap-8">
          {
            data.steps.map((step, index) => (
              <li>
                <h3 class="font-semibold">Step {index + 1}</h3>
                <p class="mt-2 text-slate-700">{step}</p>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</Layout>
